h1{ padding: 5px;
	margin: 30px;
	color: red;
	border: dashed ;
	border-color: blue;
	text-align: center;

}
body{
	background-color: lightgrey
}
p{
	color: green;
	font-weight: normal; 
	
}
#p1{
	color: purple;
}
img{
	text-align: center;
}
div {
    display: block;
}
